.loader {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 60%;
}

ion-spinner {
  --color: #003366;
  width: 50px;
  height: 50px;

}
