<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="student-profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addgroup">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Inscribir Grupo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deletegroup">
      <ion-icon aria-hidden="true" name="close-circle"></ion-icon>
      <ion-label>Eliminar Grupo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
